.container{
    width: 22%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    cursor: pointer;
}
.title{
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
}
.price{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.desc{
    text-align: center;
    color: #777;
}

@media screen and (max-width: 480px){
      
    .container{
        width: 100%;
    }

    .title{
        font-size: 30px;

    }
    .price{
        font-size: 24px;
    }
    .desc{
        font-size: 24px;
    }
 }
